<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your puppy</h1>

    <p>Puppy Name: <%=@dog.name%></p>
    <p>Puppy Breed: <%=@dog.breed%></p>
    <p>Puppy Age: <%=@dog.age%></p>

  </body>
</html>
